
.footer {
  background: #0d0d0d;
  color: #fff;
  padding: 30px 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

}

.footer-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.logo {
  font-size: 24px;
  margin-bottom: 15px;
  color: #e50914; 
}

.links {
  margin-bottom: 15px;
}

.link-footer {
  margin: 0 10px;
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.link-footer:hover {
  color: #e50914;
}

.copy {
  font-size: 14px;
  color: #777;
}

@media(max-width : 1000px){
  .footer{
    margin-top : 60px;
    height: 150px;
    padding: 20px;
    margin-top: 30px;
  }
  
.logo {
  font-size: 20px; 
}

.links {
  margin-bottom: 15px;
}

.link-footer {
  font-size: 13px;
}
.copy{
  font-size: 11px;
}

}